// Spacing
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-2xl: 3rem;
$space-3xl: 3.5rem;
$space-4xl: 4rem;
$space-5xl: 4.5rem;
$space-6xl: 5rem;
$space-7xl: 5.5rem;
$space-8xl: 6rem;
$space-9xl: 6.5rem;
$space-10xl: 7rem;
$space-11xl: 7.5rem;
$space-12xl: 8rem;